footer {
  background: #000;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.first-part {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #1bd760;
}

p.title {
  font-size: 12px;
  color: #7c7f81;
  margin-bottom: 15px;
}

.footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

svg {
  width: 132px;
  fill: #fff;
  transform: translateY(20%);
}

.apps {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.apps > div + div {
  margin-left: 5px;
}

.apps > div {
  border: 1px solid #222326;
  padding: 20px;
  background: #222326;
  border-radius: 50%;
}

.apps i {
  color: #fff;
  font-size: 1.5rem;
}

.apps i:hover {
  color: #1bd760;
}
.second-part {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* .second-part-first {
} */

/* .second-part-first > a + a {
  margin-right: 20px;
  margin-left: 20px;
} */

.second-part-first > a {
  color: #7c7f81;
  font-size: 12px;
}
.second-part-first > a:hover {
  color: #1bd760;
}

.second-part-second > p {
  font-size: 12px;
  color: #7c7f81;
}
